/* Here is where the body styles start  body */


body {
    background-color: $primary_colour;
   
  }

.container {
    /* margin-top: 0; */
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 3px solid $seconday_colour;
    padding: .5em 2em;
}

.container {
/* margin-top: 0; */
font-family: Arial, Helvetica, sans-serif;
width: 1000px;
margin: 0 auto;
}
section {
    float: left;
    width: 800PX;
    padding-bottom: 1.5em;
}


ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
table {
    border: 1px solid$primary_colour;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
td, th {
    border: 1px dashed $primary_colour;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}

th {
   background-color: $seconday_colour;
  -webkit-text-fill-color: $primary_colour; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: rgb(17, 16, 16);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
    margin-bottom: 2em;	
}
.margin_top_increase {
    margin-top: 1em;	
}
#add_electronics_form {
    margin: .5em 0 1em;
}
#add_electronics_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_electronics_form input {
    float: left;
}
#add_electronics_form input[text] {
    width: 15em;
}

@mixin button($padding:10px 10px, $font-size:16px, $border-radius:12px, $bg-color:#ccc, $font-color:$seconday_colour) {
	padding:$padding;
	display:inline-block;
	border-radius:$border-radius;
	background:$primary_colour;
	font-size:$font-size;
	color:$font-color;
}

a.btn {
	@include button;
}

.btn:hover{
    color: $primary_colour;
    background-color: $seconday_colour
}
.btn-large {
	@include button(20px 30px, 22px);
}